<form id="start" action="/" method="post">
  Columns:<br>
  <input type="text" name="columns" value="<%= @browser_game ? @browser_game.cols : COLS %>"><br>
  Rows:<br>
  <input type="text" name="rows" value="<%= @browser_game ? @browser_game.rows : ROWS %>"><br><br>
  <input type="submit" name="start" value="Start"><br><br>
  <input type="submit" name="next_step" value="Next">
  <input type="text" name="times" value="<%= @browser_game ? @browser_game.times : 0 %>"><br><br>
  <input type="submit" name="reset" value="Reset">
</form>
