<!DOCTYPE html>
<html>
  <head>
    <title>Conway's game of Life</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%= erb :_form %>
    <%= erb :_table if @browser_game%>
  </body>
</html>
